{% extends 'base.html' %}


{% load static %}


{% block title %}
Job Ready AI Powered Cohort: Complete Web Development + DSA + Aptitude
{% endblock title %}

{% block css %}
     <link rel="stylesheet" href="{% static 'bootcamp.css' %}">
{% endblock css %}


{% block body %}

<section  id="page1" class="page">
    <div class="left">

    </div>
    <div class="right"></div>
</section>

<section class="page2">
    <div class="text1">
        <div class="mtext"><img src="../static/work_uuk9z1lNl.png" alt=""></div>
        <h2 class="subheading">
            In 5 months*
            </h2>
    </div>
</section>
<section class="graph">
    <div class="photo">
        <img src="../static/img3.png" alt="">
    </div>
</section>
<section class="page4">
    <div class="text">
        <h1 class="heading">Syllabus</h1>
        <h2 class="subheadingg">Dominate. From Start to Victory.</h2>
    </di>
</section>
<section class="syllabus">
    <a href="" class="buy">View Complete Syllabus</a>
</section>
<br>
<!-- <div class="custom-line"></div> -->
<section class="page5">
    <div class="top">
        <h1>AI and Generative AI</h1>
        <button><span>Expand</span></button>
    </div>
    <div class="custom-line"></div>
    <div class="topp">
        <h1>Web Developement</h1>
        <button><span>Expand</span></button>
    </div>
    <div class="custom-line"></div>
    <div class="topp">
        <h1>DSA</h1>
        <button><span>Expand</span></button>
    </div>
    <div class="custom-line"></div>
    <div class="topp">
        <h1>Aptitude & Reasoning</h1>
        <button><span>Expand</span></button>
    </div>
    
    
    <!-- <div class="panel">
        <div class="panelcontent">
            <div class="accord">
                <div class="top">
                    <h1>Generative AI & Applications</h1>
                    <button>
                        <span>Expand</span>
                    </button>
                </div>
            </div>
        </div>
    </div> -->
</section>
<section class="syllabus">
    <a href="" class="buy">View Complete Syllabus</a>
    <!-- <div class="custom-line"></div> -->

</section>
<br><br>

<section class="page7">
    <div class="text">
        <h1 class="heading">
            More value,
        <br>
        Less Cost .   
        </h1>
        <h2 class="subheading">
            Quality and value drive us, 
        <span>delivering more </span>
        <br>
        for <span>less cost</span>.
        </h2>
        <small class="validity">*Course validity is for 2 years from date of purchase</small>

    </div>
    <div class="Scratch">
        <small>Scratch this to get a discount coupon</small>
        <div class="coupan">
            <div class="container">
                <div class="base">
                    <h3>COHORT10</h3>
                </div>
            </div>
        </div>
    </div>
    <button class="Startlearning"> <span>Start Learning Now 😎</span></button>
</section>
<section class="page8">
    <div class="text">
        <h1 class="heading">Frequently Asked Question (FAQs)</h1>
    </div>
    <div class="faqs">
        <div class="ifaqs">
            <h3>Are there any projects in this course?</h3>
            <p>Yes, there will be project with AI, and as we move forward in the course we will discuss more about projects.</p>
        </div>
        <div class="custom-line"></div>
        <div class="ifaqs">
            <h3>What if i have a doubt in a particular topic?</h3>
            <p>You can join the discord group from the classroom page by clicking "Discord" button. Your doubts will be resolved there. We have mentors that will resolve your doubts there. Also when you see the recorded video of live class we have a 'ask doubt' button for additional doubts.</p>
        </div>
        <div class="custom-line"></div>
        <div class="ifaqs">
            <h3>Is the course live.</h3>
            <p>You will get Aptitude & Reasoning as recorded so you can start you learning journey and then get on with daily live classes.</p>
        </div>
        <div class="custom-line"></div>
        <div class="ifaqs">
            <h3>Who are the instructors in this course?</h3>
            <p>The course will be taught by Harsh Sharma Sir and top instructors in Sheryians Coding School</p>
        </div>
        <div class="custom-line"></div>
        <div class="ifaqs">
            <h3>Who can join this course?</h3>
            <p>Anyone interested in becoming job-ready! Whether you are a beginner or looking to enhance your skills.</p>
        </div>
        <div class="custom-line"></div>
        <div class="ifaqs">
            <h3>How long will I have access to this course?</h3>
            <p>You will have access to the course for a full 2 years. During this time, you can revisit the lessons, review the content, and practice at your own pace.</p>
        </div>
        <div class="custom-line"></div>
        <div class="ifaqs">
            <h3>What if I miss a live session?</h3>
            <p> Don’t worry! All sessions are recorded and will be available for you to watch anytime. The recording will be available after 3-4 hours of the live class. 
            </p>
        </div>
        <div class="custom-line"></div>
        <div class="ifaqs">
            <h3>What projects will I work on during the course?</h3>
            <p>This course is project-based, so yes, you will work on various projects, including creating AI-powered projects.</p>
        </div>
        <div class="custom-line"></div>
    </div>
</section>
{% endblock body %}